.regform {

}

.loginform {
  font-family:"Akzid";
  width:100vw;
  height:60vh;
  text-align:center;
  margin-top:35vh;
  color:black;
  h1 {
    margin-bottom:20px;
    font-size:2.5em;
    font-weight:bolder;
    font-family:"Akzid-bold";
  }
  i {
    font-size:2em;
  }

  input[type=email], input[type=password] {
    border:none;
    background-color:transparent;
    outline:none;
    height:70px;
  }
  input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder{
    color:black;

  }
  a {
    display:block;
    margin-top:15px;
    color:$mapink;
    text-decoration:underline;
    margin-bottom:15px;
    font-weight:bold;
  }

.wwlink {
  margin-left:300px;

}
.reglink {
  margin-top:-30px;
  margin-left:-390px;
}

  table, tr, th {
    //border:1px solid black;

  }
  table {
    margin-left:auto;
    margin-right:auto;
  }
  th {
    background-color:#EEEEEE;
  }
  .seperator {
    height:15px;
  }
  .iconth {
    vertical-align:middle;
    padding:15px;
  }

  .inputth, input[type=email], input[type=password]  {
    width:400px;
  }

  .mailwarning {
    margin-bottom:10px;
    color:$mapink;
  }

  .loginbutton {
    width:200px;
  }
  .regbutton{
    margin-top:15px;
  }
}

@media screen and (max-width:700px){
  .loginform {
    h1 {
      font-size:2em;
    }
    .inputth, input[type=email], input[type=password]  {
      width:300px;
    }
    .wwlink {
      margin-left:200px;

    }
    .reglink {
      margin-left:-290px;
    }
  }

}
@media screen and (max-width:450px){
  .loginform {
    h1 {
      font-size:1.5em;
    }
    .inputth, input[type=email], input[type=password]  {
      width:225px;
    }
    .wwlink {
      margin-left:125px;

    }
    .reglink {
      margin-left:-215px;
    }
  }
}
