.result-content {
    display:table;
    width: 65vw;
    height:100vh;
    font-size: 1.2em;
    .columntitle {
        font-family: "Akzid-bold";
        font-weight: bold;
        color: black;
        padding-bottom: 5px;
    }
    .resultcontentchild {
        display:table-cell;
        vertical-align: middle;
    }
    .pagetitle {
      text-align:center;
      font-size:2.5em;
      font-weight:bolder;
      font-family:"Akzid-bold";
      color:$mapink;
      padding-bottom: 40px;
      span {
        color: white;
        background-color: $mapink;
        width: 200px;
        height: 60px;
        display: inline-block;
        left: 20px;
        position: relative;
        top: -21px;
        p {
          font-size: 0.6em;
          position: inherit;
          top: 15px;
        }
      }
    }
    .omschrijving , .aanvragen , .link , .levertijd {
        font-family: "Akzid";
        font-size: 1.4em;
        padding-bottom: 40px;
    }
}
