.usercontent {
    margin-top: 50vh;
    @media screen and (max-width:800px){
        margin-top: 35vh;
    }
    @media screen and (min-width:1400px){
        margin-top: 25vh;
    }
}

.userpage {
    margin-top: 40vh !important;
}

.container-fluid {
  font-family:"Akzid";
  height:50vh;
  .tablewrapper {
      overflow-x: auto;
  }
  .number {
      border-right:1px solid black !important;
  }
  .whitespace {
      width: 5px;
      display: inline-block;
  }
    h1 {
      font-size:2em;
      text-align:center;
      margin-bottom::20px;
      margin-top: -55px;
      top:35%;
      left:45%;
      @media screen and (max-width:650px){
         &{left:35%;}
      }
    }
    td {
        border-top: none !important;
        padding: 3px;
        white-space: nowrap;
        overflow: hidden;
    }
  .tickettable {
    font-size:1.1em;
    vertical-align: middle !important;
    border:none;
    width:96vw;
    }
    .toprow {
        font-weight:bold;
        td {
        border-bottom: 1px solid black;
    }


  }
}
