// .actionbutton {
//     overflow: visible;
//     border-radius: 0px;
//     border: none;
//     background-color: $mapink;
//     color:white;
//     font-family: "Akzid-bold";
//     font-size: 1em !important;
//     height: 55px;
//     width: 200px;
//     p, i {
//         display:inline;
//         margin-right: 15px;
//         margin-left: -7px;
//     }
//     p{
//         text-align: center;
//         width: 100%;
//         a {
//             color: white;
//         }
//         a:hover {
//             text-decoration: none;
//         }
//     }
//     i {
//         border-left: 1px solid black;
//         padding-left: 15px;
//         margin-right: -25px;
//         position: relative;
//         left: 15px;
//         padding-top: 13px;
//         padding-bottom: 13px;
//         vertical-align: middle;
//     }
//     div {
//         margin-top: 18px;
//         overflow: hidden;
//         white-space: nowrap;
//     }
//     @media screen and (max-width: 773px){
//         .actionbutton {
//             i {
//
//             }
//             div {
//                 width: 50px !important;
//             }
//         }
//     }
//     // @media screen and (min-width:1400px){
//     //     .actionbutton i {
//     //         margin-top: -10px;
//     //         height: 50px;
//     //     }
//     // }
// }
//
.updatebutton {
    margin-left: 15px;
}

.actionbutton {
    background-color: $mapink;
    color:white;
    border-radius: 0px;
    font-family: "Akzid-bold";
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    &:hover {
        background-color: black;
        color: white;
        border: 1px solid $mapink;
    }
}

.aanvraagbutton {
    float:right;
    margin-top: 15px;
}
