.ticket-content {
  font-size: 1.2em;
  font-family: 'Akzid-bold';
  display: table;
  width: 100px;
  height:100vh;
  .ticket-child {
    display:table-cell;
    vertical-align: middle;
  }
  .title-ticket {
    font-size:2em;
    font-weight:bolder;
  }
  form {
      font-family: 'Akzid';
      input, select, textarea {
        padding:10px;
        width:600px;
        height: 60px;
        margin-top:15px;
        background-color:#E5E5E5;
        border:none;
        outline-width:0px;
        outline:none;
      }
    input, button, submit { border:none; }
    textarea {
      height: 120px!important;
    }
      select, select .spoedoption, input {
        outline-width:0px;
        outline:none;
      }

      .createticket {
        margin-top:15px;
        float: right;
        margin-right: 10px;
      }
  }
}
