

strong {
  font-weight:bold;
}

.menu {
  height:$menuheight;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;

  .menuimg {
    max-height:100%;
    width:auto;
  }
  @media screen and (max-width:800px){
      .menuimg {
          max-height: 50%;
      }
  }

  .topbar {
    text-align:center;
    font-size:2em;
    position: absolute;
    top: 50px;
    left:0px;
    width:100vw;
    //margin-left:202px;
    @media screen and (max-width:550px){
      &{
        font-size:1em !important;
        margin-left:75px !important;
      }
    }
    @media screen and (max-width:900px){
      &{
        font-size:1.4em !important;
      }
    }
    @media screen and (max-width:800px){
      &{
        margin-left:101px;
        width:85vw;
        font-size:1.8em;
      }
    }
    @media screen and (max-width:1200px){
      & {
        strong {display:block}
      }
    }
    font-family:"Akzid";
    strong  {
      font-family:"Akzid-bold";
      color:$mapink;
    }
  }



}



// USER INFO
.userthingy {
  font-family: "Akzid";
  width: 100%;
  font-size: 20px;//background-color: lightgray;
  height: 100px;
  position: relative;
  top: -99%;
  @media screen and (max-width: 1200px){
    & {
      // position:fixed;
      // bottom:0;
      // right:10px;
      // transform: translateZ(0);
      // -webkit-transform: translateZ(0);
      margin-top:89vh;
      height:50px;
    }

  }
  @media screen and (max-width: 800px){
    margin-top:107vh;
  }
  .username_when_loggedin{
      margin-left: -51px;
      width: auto;
  }
  .userwrapper{
    width: 200px;
    float: right;
    .textleft {
      width: 150px;
      line-height: 24px;
      display: block;
      //background-color: lightblue;
      text-align: right;
      //border-right: 1px solid blue;
      p {

      }
      a {
        text-decoration: underline;
        color: $mapink;
      }
      a:hover {

      }
    }
    .iconright {
      width: 50px;
      float:right;
      //background-color: lightgreen;
      margin-top: -50px;
      height: 25px;
      font-size: 50px;
      i {
        margin-left: 5px;
        color: black;
      }
    }
  }

}
