
strong {
  font-weight:bold;
}

.menu {
  height:$menuheight;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;

  .menuimg {
    max-height:100%;
    width:auto;
  }
  @media screen and (max-width:800px){
      .menuimg {
          max-height: 50%;
      }
      .topbar{
          font-size:1em !important;
          margin-left: 120px !important;
      }
  }
  @media screen and (max-width:1200px){
      .topbar{
          font-size:1.6em !important;
          margin-left:100px;
          & strong {
              display:block;
          }
    }
  }
    @media screen and (max-width:500px){
        .topbar{
            font-size:1.2em !important;
            }

    }
    @media screen and (max-width:350px){
        .topbar{
            font-size:0.9em !important;
            }

    }

  .topbar {
    text-align:center;
    font-size:2em;
    position: absolute;
    top: 50px;
    left:0px;
    width:100%;
    font-family:"Akzid";
    strong  {
      font-family:"Akzid-bold";
      color:$mapink;
    }
  }



}



// USER INFO
.userthingy {
  font-family: "Akzid";
  width: 100%;
  font-size: 20px;//background-color: lightgray;
  height: 100px;
  position: relative;
  top: -99%;
  @media screen and (max-width: 1200px){
    & {
      // position:fixed;
      // bottom:0;
      // right:10px;
      // transform: translateZ(0);
      // -webkit-transform: translateZ(0);
      margin-top:89vh;
    }
  }
  @media screen and (max-width: 800px){
    margin-top:107vh;
  }
  .userwrapper{
    width: 200px;
    float: right;
    .textleft {
      width: 150px;
      line-height: 25px;
      display: block;
      //background-color: lightblue;
      text-align: right;
      p {

      }
      a {
        text-decoration: underline;
        color: $mapink;
      }
      a:hover {

      }
    }
    .iconright {
      width: 50px;
      float:right;
      //background-color: lightgreen;
      margin-top: -50px;
      height: 25px;
      font-size: 50px;
      i {
        margin-left: 5px;
        color: black;
      }
    }
  }

}
