strong {
  font-weight:bold;
}

.menu {
  height:$menuheight;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;

  .menuimg {
    max-height:100%;
    width:auto;
  }

  .topbar {
    text-align:center;
    font-size:2em;
    position:fixed;
    top: 50px;
    left:30%;
  }



}

.content {
  margin-top:$menuheight;
}
